@page "/counter"
<h1>Counter</h1>
@if (Preferences.Default.Get("SAG", "Expired") != "Expired")
{
    

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}else{
    <p style="color:red">Please login to SAG first</p>
}


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
