@page "/oosr"
@using RestSharp
@inject NavigationManager _navigationManager
<h1>Out of stock report</h1>

<form class="form-group">
    <div class="mb-3">
        <label for="connstr" class="form-label">SQL connectring string</label>
        <input class="form-control" id="connstr" @bind-value="ConnectionString"/>
    </div>
    <button type="submit" class="btn btn-primary form-control">Save</button>
</form>


<button type="submit" class="btn btn-primary" onclick="@(()=>UpdateConnStr())">Generate Report</button>



@code {
    public string ConnectionString { get; set; } = Preferences.Default.Get("SQLconnStr", "");
    private void UpdateConnStr()
    {
        Preferences.Default.Set("SQLconnStr", ConnectionString);
    }

}
