@page "/oosr"
@using RestSharp
@inject NavigationManager _navigationManager
@using Requests;
<h1>Out of stock report</h1>

@if (Preferences.Default.Get("login", false) == false)
{
    <h3 style="color:red">Login expired</h3>
    <button class="btn btn-primary" onclick="@(()=>GoLogin())">Login</button>
}
else
{
    <button class="btn btn-primary" onclick="@(()=>GetCSV())">Get CSV for all jobs</button>
}

@code {
    public string cookie { get; set; } = Preferences.Default.Get("cookie", "");
    private GetCSV getCSV=new();

    private void GoLogin()
    {
        _navigationManager.NavigateTo("");
    }
    private async Task GetCSV()
    {
        await getCSV.Get(cookie);
    }
}
