@page "/oosr"
@using RestSharp
@inject NavigationManager _navigationManager
@using Requests;
<h1>Out of stock report</h1>
@if (DeviceInfo.Platform != DevicePlatform.WinUI)
{
    <h3 style="color:red">Your operation system does not support this function</h3>
}
else
{
    @if (Preferences.Default.Get("login", false) == false)
    {
            <h3 style="color:red">Login expired</h3>
            <button class="btn btn-primary" onclick="@(()=>_navigationManager.NavigateTo(""))">Login</button>
    }
    else
    {
            <button class="btn btn-primary" onclick="@(()=>GetCSV())">Get CSV for all jobs</button>
    }
}



@code {
    public string cookie { get; set; } = Preferences.Default.Get("cookie", "");
    private GetCSV getCSV=new();
    private async Task GetCSV()
    {
        await getCSV.Get(cookie);
    }
}
